

alias sudo='sudo '
alias ssh='ssh'
alias rsync='rsync'

alias vi="nvim"
alias vim="nvim"
alias v="nvim"

alias py3="python3"
alias py2="python"
alias python="python3"

alias g="git"
alias gitlogline="git log --pretty=format:'%C(yellow)%h %Cred%ad %Cblue%an%Cgreen%d %Creset%s' --date=short"
alias fetchpull="git fetch && git pull"

alias dt="cd ~/Desktop"

alias reload="source ~/.zshrc"

alias claer="clear"
alias mkidr="mkdir"

alias ls="ls -l --color"
alias ptest="ping -v 8.8.8.8"
alias geoip="curl --silent ipinfo.io | jq"
alias yt-dlp="yt-dlp -S res,ext:mp4:m4a --recode mp4"
alias better_find="find . -print | grep -i $1"

alias lock="xflock4"
alias watch="watch -c -n 0.2"
alias ncdu="ncdu --color off"
alias news="newsboat"

alias tmk="tmux kill-session -t"
alias tma="tmux attach-session -t"
alias tml="tmux ls"

clean_docker(){
  docker rm -vf $(docker ps -aq) 
  docker rmi -f $(docker images -aq) 
  docker system prune --volumes --all -f 
}
power_docker_image(){
	clean_docker; docker build -t $1 .; docker run -d --name $1 $1; 
}
power_docker(){
  clean_docker; docker-compose up -d;
}
power_lazy_docker(){
  clean_docker; docker-compose up -d; lazydocker;
}

gsuperfastcommit() {
  message="$1"
  git add . && git commit -m "$message" && git push
}
gsuperfastcommitplusplus() {
  message="$1"
  git add . && git commit -m "chore: update" && git push
}

brewupdateall() {
  brew update; brew upgrade; brew upgrade --cask --greedy; brew cleanup
  echo "done"
} 
