#!/bin/bash
alias sudo='sudo '
alias ssh='ssh'
alias rsync='rsync'

alias vi="nvim"
alias vim="nvim"
alias v="nvim"

alias py3="python3"
alias py2="python"
alias python="python3"

alias g="git"
alias gitlogline="git log --pretty=format:'%C(yellow)%h %Cred%ad %Cblue%an%Cgreen%d %Creset%s' --date=short"
alias fetchpull="git fetch && git pull"

alias dt="cd ~/Desktop"

alias reload="source ~/.zshrc"

alias claer="clear"
alias mkidr="mkdir"

alias ls="ls -l --color"
alias ptest="ping -v 8.8.8.8"
alias geoip="curl --silent ipinfo.io | jq"
alias yt-dlp="yt-dlp -S res,ext:mp4:m4a --recode mp4"
alias better_find="find . -print | grep -i $1"

alias lock="xflock4"
alias watch="watch -c -n 0.2"
alias ncdu="ncdu --color off"
alias news="newsboat"

alias tmk="tmux kill-session -t"
alias tma="tmux attach-session -t"
alias tml="tmux ls"

clean_docker(){
  docker rm -vf $(docker ps -aq) 
  docker rmi -f $(docker images -aq) 
  docker system prune --volumes --all -f 
}
soft_clean_docker(){
  docker-compose down;
  docker-compose up -d --build;
}
power_docker_image(){
	clean_docker; docker build -t $1 .; docker run -d --name $1 $1; 
}
power_docker(){
  clean_docker; docker-compose up -d;
}
power_lazy_docker(){
  clean_docker; docker-compose up -d; lazydocker;
}
gsuperfastcommit() {
  message="$1"
  git add . && git commit -m "$message" && git push
}
gsuperfastcommitplusplus() {
  message="$1"
  git add . && git commit -m "chore: update" && git push
}
brewupdateall() {
  brew update;
  brew upgrade;
  brew upgrade --cask --greedy;
  brew cleanup;
  echo "done";
} 
update_vim_color() {
    local color=$1
    local color_var="export VIM_COLOR=${color}"

    if grep -q 'export VIM_COLOR=' "$HOME/.zshenv"; then
        sed -i '' "s|export VIM_COLOR=.*|$color_var|" "$HOME/.zshenv"
    else
        echo "$color_var" >> "$HOME/.zshenv"
    fi
    source "$HOME/.zshenv"
}
dark() {
        osascript -l JavaScript -e "Application('System Events').appearancePreferences.darkMode = true" > /dev/null
        update_vim_color "dark_theme"
        ln -fs ~/.config/alacritty/themes/dark-theme.toml ~/.config/alacritty/themes/_active.toml
        touch ~/.config/alacritty/alacritty.toml
        tmux source-file $HOME/.config/tmux/dark-theme.conf
}
light() {
        osascript -l JavaScript -e "Application('System Events').appearancePreferences.darkMode = false" > /dev/null
        update_vim_color "light_theme"
        ln -fs ~/.config/alacritty/themes/light-theme.toml ~/.config/alacritty/themes/_active.toml
        touch ~/.config/alacritty/alacritty.toml
        tmux source-file $HOME/.config/tmux/light-theme.conf
}
